.data-grid-container {
  padding: 10px 26px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .table-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  .submit-users-btn {
    padding: 8px 15px;
    background-color: rgb(122 78 191 / 76%);
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    border-radius: 8px;
    align-self: flex-end;
    margin-top: 10px;
    cursor: pointer;
  }
}
