.users-nav-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  margin: 5px 60px;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .active {
    font-weight: bold;
  }
  .pending {
    font-weight: bold;

    color: red;
  }
}
.dx-theme-material-typography a {
  color: #551a8b;
}
