
.material-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .material-ui-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .radio-btns-wrapper {
      display: flex;
      // margin-bottom: 10px;
      margin-top: -10px;
      padding-left: 4px;
      .radio-btns-container {
        display: flex;
        align-items: center;

        .input-container {
          margin-bottom: 0;
        }
      }
    }

    .btn-container {
      margin-top: 10px;
      display: flex;
      // width: 100%;
      .submit-btn {
        background-color: rgba(196, 165, 247, 0.76);
        font-weight: bold;
        color: white;
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 8px;
        border: none;
        margin-right: 10px;
        cursor: pointer;
      }
      .reset-btn {
        background-color: rgba(217, 200, 243, 0.76);
        color: white;
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: bold;
      }
    }
    .form-title {
      margin-top: 0;
      font-style: sans-serif;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .css-k4qjio-MuiFormHelperText-root {
    color: red;
  }
  
}
